    header {
        background-color: lightblue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        max-width: 1280px;
        padding: 5px;

    
    }

    .menu {

        background-color: lightsalmon;
        text-align: center;
        font-size: medium;
    }
    
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        max-width: 1280px;
    }
    footer {
        background-color: lightblue;
        color: white;
        text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        max-width: 1280px;
    }

    .miDiv1 {

        border: 2px outset blue;
        background-color: lightgreen;
        text-align: left;
    }
    .miDiv2 {

        border: 2px outset red;
        background-color: lightpink;
        text-align: left;
    }

