    header {
        background-color: lightskyblue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        max-width: 1280px;
        color: white;
    }
    .menu {
        background-color: lightseagreen;
        border-radius: 5px;
        border: 50px lightseagreen;
    }
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        max-width: 1280px;
        text-align: justify;
    }
    .perfil{
        float: left;
        padding: 10px;
    }
    footer {
        background-color: lightblue;
        color: white;
        text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        max-width: 1280px;
    }
    .miDiv1 {

        border: 2px outset lightsteelblue;
        background-color: lightsteelblue;
        text-align: left;
    }
    .miDiv2 {
        border: 2px outset lightslategray;
        background-color: lightslategray;
        text-align: left;
    }
    .Hobbies{
        background-color: lightseagreen;
        border-radius: 5px;
        border: 40px white;
        padding: 10px;
    }
    .Mascotas{
        background-color: lightseagreen;
        border-radius: 5px;
        border: 50px white;
        padding: 10px;
    }
    .Paseos {
        background-color: lightseagreen;
        border-radius: 5px;
        border: 50px white;
        padding: 10px;
    }
    

